services:

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: petclinic
      MYSQL_USER: petclinic
      MYSQL_PASSWORD: petclinic

    networks:
      - petclinic-network

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5


  petclinic:
    build: .
    container_name: petclinic
    restart: always

    ports:
      - "9123:9123"

    environment:
      SERVER_PORT: 9123
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/petclinic
      SPRING_DATASOURCE_USERNAME: petclinic
      SPRING_DATASOURCE_PASSWORD: petclinic
      SPRING_PROFILES_ACTIVE: mysql

    networks:
      - petclinic-network

    depends_on:
      mysql:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9123/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock




networks:
  petclinic-network:
    driver: bridge



